*>a:visited {
  color: #fff;
}

#top_nav_container {
    transition: .25s;
    background-color: rgba(0, 0, 0, 0.25);
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.sweep {
    animation: sweep 5s infinite linear;
}
@keyframes sweep { to { transform: rotate(360deg); } }


.blacknwhite {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.question:hover {
    color: white;
}

.question:focus {
    color: #BBBDBF;
}

.question:visited {
    color: BBBDBF;
}

.pin-button {
    box-shadow: 1px 1px 3px #404040; 
    border-radius: 100%; 
    color: white; 
    padding: 5px; 
    width: fit-content; 
    height: fit-content;
}

.pin-button:hover {
    padding: 7px; 
    color: white; 
}

.pin-button:click {
    padding: 7px; 
    color: white; 
}

.const:before {
    content: 'â–  ';
    position: relative;
    bottom: .1em;
}

#js-scroll-up:hover {
    color:white ;
    background-color: #FF006E;
}

#js-scroll-up {
    color: white;
    background-color: #404040;
}

#frontpic {
    -webkit-filter: brightness(80%); /* Safari 6.0 - 9.0 */
    filter: brightness(80%);
}

svg:not(:root) {
    pointer-events: none;
}

/*env*/
.ig1 {
    color: #5ce1e6;
}

/*migrant*/
.ig2 {
    color: #ffdab9;
}

/*special needs*/
.ig3 {
    color: #e9b2f8;
}

/*poverty*/
.ig4 {
    color: #38b6ff;
}   


  
  .uk-position-bottom-3{
    bottom:30%;
    left:10%;
  }
  
  .uk-position-top-2{
    top: 40%;
    left: 7%; 
  }
  
  .uk-position-bottom-1{
    bottom:0;
    right: 5%;
  }
  
  .uk-position-top-3{
    left:0;
    top: 30%;
  }

  .uk-overlay-1 {
    padding: 10px 10px;
  }

  .uk-overlay-default-1 {
    background: rgba(255, 255, 255, 0.5);
  }

  .uk-padding-left{
    padding-left: 70px;
  }

  .uk-button-extra-large {
    padding: 0 40px;
    line-height: 70px;
    font-size: 1.0rem;
    width: 550px;
  }
  
  .uk-button-medium {
    padding: 0 20px;
    line-height: 52px;
    font-size: 0.875rem;
    width: 200px;
  }

  #instagramlink:visited{
    color: #1E87F0;
  }

  #povertylink1:visited{
    color: #1E87F0;
  }

  #povertylink2:visited{
    color: #1E87F0;
  }

  .uk-padding-right{
    padding-right: 75px;
  }

  .uk-table-divider-1{
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
    border-left: 1px solid #404040;
    border-right: 1px solid #404040;
    
  }

  .uk-navbar-nav > li.uk-active > a {
    color: #fff;
    border-bottom: 4px solid #38b6ff;
  }